@use './sass/variables' as *;
@use './sass/mixins' as *;

body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Amaranth', sans-serif;
  background-color: $color-black;
  color: $text-white;
  font-weight: 400;
  scroll-behavior: smooth;
}
