@use '../../../sass/variables' as *;

.Button {
  width: 35rem;
  padding: 1rem 2rem;
  background: none;
  border: 1px solid $color-brown;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s;

  &__link {
    font-size: 1.4rem;
    color: $color-brown;
    text-decoration: none;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s;

    & svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: all 0.3s;
    transform-origin: left;
    border-radius: 5px;
    background-color: rgba(213, 137, 61, 0.2);
  }

  &:hover::before,
  &:active::before {
    transform: scaleX(1);
  }

  &:hover {
    border: 1px solid transparent;
    cursor: pointer;
  }

  &:hover > &__link {
    color: hsl(30, 100%, 63%);

    & svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
